
body {
    background-color: #f0f4f8; 
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 40px 20px;
    color: #333;
}

#init {
    text-align: center;
    color: #2c3e50;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

p {
    text-align: center;
    color: #7f8c8d;
    margin-bottom: 40px;
    font-weight: 500;
}


.calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    max-width: 1300px;
    margin: 0 auto;
}


.mes-card {
    background-color: white;
    min-height: 180px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-top: 5px solid #daa07a; 
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mes-card h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.mes-card p {
    margin: 10px 0 0 0;
    color: #666;
}


.mes-card.destacado {
    border-top-color: #2ecc71; /* Verde para indicar actividad */
    background-color: #ffffff;
}

.mes-card.apagado {
    opacity: 0.7;
    border-top-color: #bdc3c7; 
    filter: grayscale(0.5);
}


.mes-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #daa07a 10%, #cea759 100%);
}

.mes-card:hover h3, 
.mes-card:hover p {
    color: white;
}


.notas-mes {
    max-width: 800px;
    margin: 20px auto;
}

.nota-item, .nota-card {
    background: white;
    margin-bottom: 15px;
    padding: 15px;
    border-left: 5px solid #daa07a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.acciones {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* --- Botones --- */
button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

#btn-listar { background-color: #3498db; color: white; }
#btn-limpiar { background-color: #e74c3c; color: white; }
.btn-editar { background-color: #f1c40f; color: #333; }
.btn-eliminar { background-color: #e74c3c; color: white; }

button:hover {
    filter: brightness(1.1);
}

.listado-global ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

.listado-global li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border-left: 3px solid #3498db;
}

#form-subtitulo {
    color: #2c3e50;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.4rem;
    border-bottom: 2px solid #daa07a;
    display: inline-block;
    padding-bottom: 5px;
}

#form-nota .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#form-nota label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #444;
}